<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.user.DAO.SearchItemDAO">
    
    <!-- 찜(좋아요) 순으로 상위 15개 -->
	<select id="selectTopLikeItems" parameterType="int" resultType="kr.co.sist.DTO.ProductDTO">
		SELECT *
		FROM (
				SELECT *
				FROM PRODUCT
				WHERE COM_NUM IS NULL
				AND SELL_TYPE   = 'N'    <!-- 판매중인 것만 -->
				AND APPOINT_TYPE = 'N'   <!-- 예약중이 아닌 것만 -->
				ORDER BY LIKE_NUM DESC
				)
		WHERE ROWNUM &lt;= #{limit}
	</select>


	<!-- 카테고리 랜덤 15개 -->
	<select id="selectRandomCategory" parameterType="map" resultType="kr.co.sist.DTO.ProductDTO">
		SELECT *
		FROM (
				SELECT *
				FROM PRODUCT
				WHERE CAT_NUM = #{catNum}
				AND COM_NUM IS NULL
				AND SELL_TYPE   = 'N'    <!-- 판매중인 것만 -->
				AND APPOINT_TYPE = 'N'   <!-- 예약중이 아닌 것만 -->
				ORDER BY DBMS_RANDOM.VALUE
				)
		WHERE ROWNUM &lt;= #{limit}
	</select>


	<!-- 메인 - 조회수 많은 것 상위 15개  -->
    <select id="selectTopViewItems" parameterType="int" resultType="kr.co.sist.DTO.ProductDTO">
	    SELECT *
		FROM (
			SELECT *
			FROM PRODUCT
		    WHERE COM_NUM IS NULL
		      AND SELL_TYPE    = 'N'    <!-- 판매중인 것만 -->
		      AND APPOINT_TYPE = 'N'    <!-- 예약중이 아닌 것만 -->
		    ORDER BY CLICK_NUM DESC     <!-- CLICK_NUM 오타 주의 -->
			)
		WHERE ROWNUM &lt;= #{limit}
	</select>
    
    
	<!-- 검색 - 키워드 -->
	<select id="findByKeyword" parameterType="String" resultType="kr.co.sist.DTO.ProductDTO">
		SELECT * 
		FROM PRODUCT
		<where>
			<if test="keyword != null and keyword != ''">
				TITLE LIKE '%' || #{keyword} || '%'
			</if>
		AND COM_NUM IS NULL
		</where>
	</select>
	
	
	<!-- 검색 - 카테고리 -->
	<select id="findByCategory" parameterType="int" resultType="kr.co.sist.DTO.ProductDTO">
		SELECT *
        FROM PRODUCT
        WHERE CAT_NUM = #{catNum} AND COM_NUM IS NULL
	</select>
    
	<!-- 카테고리별 상품 개수 -->
	<select id="countByCategory" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE CAT_NUM = #{catNum} AND COM_NUM IS NULL
	</select>
    
    
    <!-- 필터를 이용한 정렬 -->
    <select id="findByKeywordAndFilters" parameterType="map" resultType="kr.co.sist.DTO.ProductDTO">
    	SELECT *
    	FROM PRODUCT P
    	LEFT JOIN USERS U
    		ON P.USER_NUM = U.USER_NUM
    	<where>
    	<!-- 키워드 -->
    	<if test="keyword != null and keyword != ''">
    	AND P.TITLE LIKE '%' || #{keyword} || '%'
    	</if>
    	
    	<!-- 카테고리 -->
	    <if test="catNum != null">
	    AND P.CAT_NUM = #{catNum}
	    </if>
	    
	    <!-- 가격 범위 -->
	    <!-- 최소 -->
    	<if test="minPrice != null">
    	AND P.PRICE &gt;= #{minPrice}
    	</if>
	    <!-- 최대 -->
    	<if test="maxPrice != null">
    	AND P.PRICE &lt;= #{maxPrice}
    	</if>
    	
    	<!-- 거래가능만 보기 -->
    	<if test="tradeOption == '거래가능'">
    	AND P.SELL_TYPE = 'N'
    	AND P.APPOINT_TYPE = 'N'
    	</if>
    	AND P.COM_NUM IS NULL
    	</where>
    	
    	<!-- 정렬 옵션 -->
    	<choose>
    	<when test="sortOption == '최신순'">
    	ORDER BY P.INPUT_DATE DESC
    	</when>
    	<when test="sortOption == '낮은가격순'">
    	ORDER BY P.PRICE ASC
    	</when>
    	<when test="sortOption == '높은가격순'">
    	ORDER BY P.PRICE DESC
    	</when>
    	
    	<!-- 추천순: 찜(0.5)+조회수(0.3)+신뢰(MANER->0.2) -->
    	<otherwise>
    	ORDER BY ( 
    	NVL(P.LIKE_NUM,0) * 0.5
    	+ NVL(P.CLICK_NUM,0)* 0.3
    	+ NVL(U.MANNER,0)   * 0.2
    	) DESC
    	</otherwise>
    	</choose>
    </select>
    
    <!-- 광고 -  -->
	<select id="selectAdvertisementItem" resultType="kr.co.sist.DTO.ProductDTO" flushCache="true">
		SELECT *
		FROM (
			SELECT *
			FROM (
				SELECT P.*, C.COM_NAME
				FROM PRODUCT P
				JOIN COMPANY C ON P.COM_NUM = C.COM_NUM
				WHERE P.COM_NUM IS NOT NULL
				  AND P.SELL_TYPE = 'Y'
				  AND P.HIDDEN_TYPE = 'N'
				ORDER BY DBMS_RANDOM.VALUE
			)
			WHERE ROWNUM = 1
		)
	</select>

</mapper>
