<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.user.DAO.EventDAO">
	<select id="selectAllEvent" resultType="kr.co.sist.DTO.EventDTO">
		SELECT * FROM EVENT ORDER BY START_DATE DESC
	</select>
	
	<select id="selectImageWithImgNum" resultType="kr.co.sist.DTO.ImageDTO" parameterType="int">
		SELECT * FROM IMAGE WHERE IMG_NUM = #{imgNum}
	</select>
	
	<select id="selectOneEvent" resultType="kr.co.sist.DTO.EventDTO" parameterType="int">
		SELECT * FROM EVENT WHERE EVT_NUM = #{evtNum}
	</select>
</mapper>
