<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="kr.co.sist.admin.DAO.AdminUserProductDAO">
  <!-- 1) AdminUserProductDTO 전체 매핑 -->
  <resultMap id="adminUserProductMap"
             type="kr.co.sist.DTO.AdminUserProductDTO">

    <!-- (B) ProductDTO 매핑 -->
    <association property="product" javaType="kr.co.sist.DTO.ProductDTO">
      <id     column="p_prd_num"     property="prdNum"/>
      <result column="p_title"       property="title"/>
      <result column="p_content"     property="content"/>
      <result column="p_price"       property="price"/>
      <result column="p_location1"   property="location1"/>
      <result column="p_input_date"  property="inputDate"/>
      <result column="p_appoint_type" property="appointType"/>
      <result column="p_hidden_type"  property="hiddenType"/>
      <result column="p_sell_type"    property="sellType"/>
      <result column="p_prd_cnt"      property="prdCnt"/>
      <result column="p_click_num"    property="clickNum"/>
      <result column="p_safe_type"    property="safeType"/>
      <result column="p_meet_type"    property="meetType"/>
      <result column="p_delivery_type" property="deliveryType"/>
      <result column="p_like_num"     property="likeNum"/> 
      <result column="p_img_num"      property="imgNum"/>
    </association>

    <!-- (C) UserDTO 매핑 -->
    <association property="user" javaType="kr.co.sist.DTO.UserDTO">
		<id     column="u_user_num"    property="userNum"/>
		<result column="u_name"        property="name"/>
		<result column="u_nickname"    property="nickname"/>
		<result column="u_email"       property="email"/>
		<result column="u_image"       property="image"/>
	</association>

    <!-- (D) CategoryDTO 매핑 -->
    <association property="category" javaType="kr.co.sist.DTO.CategoryDTO">
      <id     column="c_cat_num"     property="catNum"/>
      <result column="c_name"        property="name"/>
    </association>

	</resultMap>

		<!-- ① 전체 건수 조회 -->
	<select id="countAdminUserProducts" parameterType="kr.co.sist.admin.util.AdminSearchUserProductDTO" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT p
		LEFT JOIN USERS    u ON p.USER_NUM = u.USER_NUM
		LEFT JOIN CATEGORY c ON p.CAT_NUM  = c.CAT_NUM
		<where>
		AND p.com_num IS NULL
		AND p.user_num IS NOT NULL
		<!-- 검색어 필터 -->

		<if test="searchType != null and searchType.equals('title') and keyword != null and keyword != ''">
			AND p.TITLE LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType != null and searchType.equals('seller') and keyword != null and keyword != ''">
			AND u.EMAIL LIKE '%' || #{keyword} || '%'
		</if>
		<if test="catNum != null">
			AND p.CAT_NUM = #{catNum}
		</if>
		<if test="statusFilter != null and statusFilter.equals('active')">
			AND p.SELL_TYPE = 'N' AND p.APPOINT_TYPE = 'N'
		</if>
		<if test="statusFilter != null and statusFilter.equals('inactive')">
			AND p.APPOINT_TYPE = 'Y'
		</if>
		<if test="statusFilter != null and statusFilter.equals('sold')">
			AND p.SELL_TYPE = 'Y'
		</if>
		<if test="hideFilter != null and hideFilter.equals('Y')">
			AND p.HIDDEN_TYPE = 'Y'
		</if>
		<if test="hideFilter != null and hideFilter.equals('N')">
	        AND p.HIDDEN_TYPE = 'N'
		</if>
		</where>
	</select>

		<!-- 페이징 + 검색 결과 -->
		<select id="searchAdminUserProducts" parameterType="map" resultMap="adminUserProductMap">
			SELECT * FROM (
			SELECT A.*, ROWNUM rn FROM (
			SELECT
	          p.prd_num       AS p_prd_num,
	          p.title         AS p_title,
	          p.content       AS p_content,
	          p.price         AS p_price,
	          p.location1     AS p_location1,
	          p.input_date    AS p_input_date,
	          p.appoint_type  AS p_appoint_type,
	          p.hidden_type   AS p_hidden_type,
	          p.sell_type     AS p_sell_type,
	          p.prd_cnt       AS p_prd_cnt,
	          p.click_num     AS p_click_num,
	          p.safe_type     AS p_safe_type,
	          p.meet_type     AS p_meet_type,
	          p.delivery_type AS p_delivery_type,
	          p.like_num      AS p_like_num,
	          p.com_num       AS p_com_num,
	          p.img_num       AS p_img_num,
	          u.user_num      AS u_user_num,
	          u.name          AS u_name,
	          u.nickname      AS u_nickname,
	          u.email         AS u_email,
	          u.image         AS u_image,
	          c.cat_num       AS c_cat_num,
	          c.name          AS c_name
	        FROM PRODUCT p
	        LEFT JOIN USERS    u ON p.USER_NUM = u.USER_NUM
	        LEFT JOIN CATEGORY c ON p.CAT_NUM  = c.CAT_NUM
			<where>
			AND p.com_num IS NULL
			<if test="search.keyword != null and search.keyword != '' and 'title'.equals(search.searchType)">
				AND p.TITLE LIKE '%' || #{search.keyword} || '%'
			</if>
			<if test="search.keyword != null and search.keyword != '' and 'seller'.equals(search.searchType)">
				AND u.EMAIL LIKE '%' || #{search.keyword} || '%'
			</if>
			<if test="search.catNum != null">
				AND p.CAT_NUM = #{search.catNum}
			</if>
			<!-- 상태 필터  -->
			<if test="'active'.equals(search.statusFilter)">
				AND p.SELL_TYPE = 'N' AND p.APPOINT_TYPE = 'N'
			</if>
			<if test="'inactive'.equals(search.statusFilter)">
				AND p.APPOINT_TYPE = 'Y'
			</if>
			<if test="'sold'.equals(search.statusFilter)">
				AND p.SELL_TYPE = 'Y'
			</if>
			<!-- 숨김 필터 --> 
			<if test="search.hideFilter.equals('Y')">
				AND p.HIDDEN_TYPE = 'Y'
			</if>
			<if test="search.hideFilter.equals('N')">
				AND p.HIDDEN_TYPE = 'N'
			</if>
			</where>
			ORDER BY p.INPUT_DATE DESC
			) A
			WHERE ROWNUM &lt;= #{endRow}	)
		WHERE rn &gt; #{startRow}
		</select>
  
    <!--숨김 상태 일괄 업데이트 -->
		<update id="updateHiddenType">
		  UPDATE PRODUCT
		    SET HIDDEN_TYPE = #{hidden, jdbcType=VARCHAR}
		  WHERE PRD_NUM IN
		  <foreach collection="prdNums"
		           item="num"
		           open="("
		           separator=","
		           close=")">
		    #{num, jdbcType=VARCHAR}
		  </foreach>
		</update>
  
  
	  <!-- 단일 상세페이지 조회  -->
	  <select id="selectByPrdNum" parameterType="string" resultMap="adminUserProductMap">
			SELECT
		      p.prd_num       AS p_prd_num,
		      p.title         AS p_title,
		      p.content       AS p_content,
		      p.price         AS p_price,
		      p.location1     AS p_location1,
		      p.input_date    AS p_input_date,
		      p.appoint_type  AS p_appoint_type,
		      p.hidden_type   AS p_hidden_type,
		      p.sell_type     AS p_sell_type,
		      p.prd_cnt       AS p_prd_cnt,
		      p.click_num     AS p_click_num,
		      p.safe_type     AS p_safe_type,
		      p.meet_type     AS p_meet_type,
		      p.delivery_type AS p_delivery_type,
		      p.like_num      AS p_like_num,
		      p.img_num       AS p_img_num,
		      u.user_num      AS u_user_num,
		      u.name          AS u_name,
		      u.nickname      AS u_nickname,
		      u.email         AS u_email,
		      u.image         AS u_image,
		      c.cat_num       AS c_cat_num,
		      c.name          AS c_name
		    FROM PRODUCT p
		    LEFT JOIN USERS    u ON p.USER_NUM = u.USER_NUM
		    LEFT JOIN CATEGORY c ON p.CAT_NUM  = c.CAT_NUM
		    WHERE p.prd_num = #{prdNum}
		</select>

		  <!-- 수정 - 상품 상세 페이지 -->
		<update id="updateUserProduct" parameterType="kr.co.sist.DTO.AdminUserProductDTO">
			UPDATE PRODUCT
			SET TITLE          = #{product.title},
				CONTENT        = #{product.content},
				CAT_NUM        = #{category.catNum},
				PRICE          = #{product.price},
				SAFE_TYPE      = #{product.safeType},
				DELIVERY_TYPE  = #{product.deliveryType},
				MEET_TYPE      = #{product.meetType},
				HIDDEN_TYPE    = #{product.hiddenType},
				SELL_TYPE      = #{product.sellType},
				APPOINT_TYPE   = #{product.appointType}
			WHERE PRD_NUM       = #{product.prdNum}
		</update>
		
</mapper>