@charset "UTF-8";
/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0; left: 0;
  width: 250px;
  height: 100vh;
  background: #353535;
  color: #ecf0f1;
  /* overflow-y: auto; */
}

.logo-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #FFFFFF;
}

.logo {
  width: 50%;
  height: auto;
  align-content: center;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  color: #4eb7a8;
}

.admin-side-info {
  padding: 30px 20px;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 정렬 */
}

.admin-label {
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 5px;
}

.admin-name {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.logout-btn {
  background-color: #334b48;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* 좌우 가운데 정렬 */
  margin-top: 10px;
}

.logout-btn:hover {
  background-color: #e0e0e0;
}

/* Menu Styles */
.menu {
  list-style: none;
  padding: 10px 0;
  font-size: 18px;
}

.menu-item {
  margin-bottom: 5px;
}

.menu-item li:hover {
	background-color: #7FD0F4;
}
.menu-item a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s;
}

.menu-item a:hover {
  background-color: #7FD0F4;
  color: #000000;
}

.menu-item a i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.menu-item.active > a {
  background-color: #7FD0F4;
  color: #000000;
  font-weight: bold;
}

.arrow {
  margin-left: auto;
/*   transition: transform 0.3s; */
}

/* Submenu Styles */
.submenu {
  list-style: none;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  font-size: 12px;
/*   transition: max-height 0.3s ease-out; */
}

.submenu.open {
  max-height: 500px;
}


.has-submenu.open .arrow {
  transform: rotate(180deg);
}

.content {
  margin-left: 250px;
  padding: 20px;
}
/* submenu 토글, active 스타일 등은 admin.js에서 제어 */


/* admin-header */

.admin-header {
	display:flex;
	flex-direction:column;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	height: 100px;
	margin-left: 250px;
}
.admin-info {
	width:100%;
	text-align: right;
	padding: 10px 0px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.admin-info-roll {
	font-weight: bold;
}

.admin-logout {
  margin-right: 30px;
}


