<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.user.DAO.CategoryDAO">

	<!-- selectAllCategories : 모든 카테고리의 번호와 이름을 순서대로 조회  -->
	<select id="selectAllCategories" resultType="kr.co.sist.DTO.CategoryDTO">
		SELECT CAT_NUM AS catNum, NAME as name
		FROM CATEGORY
		ORDER BY CAT_NUM
	</select>



	<!-- selectCategoryById : 카테고리 번호에 해당하는 것  -->
	<select id="selectCategoryById" parameterType="int" resultType="kr.co.sist.DTO.CategoryDTO">
		SELECT  CAT_NUM AS catNum,NAME as name
		FROM CATEGORY
		WHERE CAT_NUM = #{catNum}
	</select>
</mapper>

