<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ImageMapper">

  <!-- 이미지 등록 -->
  <insert id="insertImage" parameterType="kr.co.sist.DTO.ImageDTO">
    INSERT INTO IMAGE (
        IMG_NUM, MAIN_IMAGE, SUB_IMAGE1, SUB_IMAGE2, SUB_IMAGE3, SUB_IMAGE4, IMAGE_TYPE
    ) VALUES (
        #{imgNum}, 
        #{mainImage, jdbcType=VARCHAR}, 
        #{subImage1, jdbcType=VARCHAR}, 
        #{subImage2, jdbcType=VARCHAR}, 
        #{subImage3, jdbcType=VARCHAR}, 
        #{subImage4, jdbcType=VARCHAR}, 
        #{imageType, jdbcType=VARCHAR}
    )
	</insert>

  <!-- 이미지 번호 시퀀스 -->
  <select id="getNextImageSeq" resultType="int">
    SELECT SEQ_IMG_NUM.NEXTVAL FROM DUAL
  </select>
  
  <update id="updateImage" parameterType="kr.co.sist.DTO.ImageDTO">
	  UPDATE IMAGE
	  SET
	    MAIN_IMAGE = #{mainImage, jdbcType=VARCHAR},
	    SUB_IMAGE1 = #{subImage1, jdbcType=VARCHAR},
	    SUB_IMAGE2 = #{subImage2, jdbcType=VARCHAR},
	    SUB_IMAGE3 = #{subImage3, jdbcType=VARCHAR},
	    SUB_IMAGE4 = #{subImage4, jdbcType=VARCHAR}
	  WHERE IMG_NUM = #{imgNum}
	</update>
	<!-- resources/mapper/ProductMapper.xml -->
	<select id="selectImageByNum" parameterType="Integer" resultType="kr.co.sist.DTO.ImageDTO">
	    SELECT 
	        img_num, image_type, main_image, sub_image1, sub_image2, sub_image3, sub_image4
	    FROM 
	        image
	    WHERE 
	        img_num = #{imgNum}
	</select>

</mapper>

  