<!-- templates/admin/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 대시보드</title>
  <link rel="stylesheet" th:href="@{/css/admin/style.css}">
</head>
<body>
   <!-- 고정 사이드바 -->
  <div th:replace="@{/admin/fragments/side_bar :: sidebar}"></div>
  <div class="content">
    <h1>관리자 홈</h1>
    <!-- 실제 컨텐츠 영역 -->
  <div class="content">
    <div th:insert="${contentFragment}"></div>
  </div>

  <!-- 필요하다면 하단 스크립트 -->
  <script th:src="@{/js/admin.js}"></script>
  </div>
</body>
</html>
