<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <!-- 이 파일은 layout에서 th:replace로 포함될 뿐, 단독으로 렌더링하지 않습니다 -->
  <div th:fragment="sidebar">
    <div class="sidebar">
      <div class="logo-container">
        <img th:src="@{/images/logo.png}" alt="로고" class="logo" style="width: 100%;">
      </div>

		

      <div class="admin-side-info">
        <span class="admin-label"><img th:src="@{/images/inside.png}" class="admin-label" style="width:30px; height:30px; vertical-align:middle"></span>
        <!-- 로그인한 관리자의 이름은 세션이나 Model 속성에서 가져올 수 있습니다 -->
        <span style="font-weight: bold; font-size:20px">사이트 바로가기</span>
      </div>

      <ul class="menu">
        <li class="menu-item">
          <a th:href="@{/company/home}"><i class="fas fa-home"></i>대시보드</a>
        </li>
        
        <li class="menu-item">
          <a th:href="@{/company/planing/planingList}"> <i class="fas fa-clipboard-list"></i>상품 관리</a>
        </li>
         
        <li class="menu-item">
          <a th:href="@{/company/planing/planingOrderList}"> <i class="fas fa-clipboard-list"></i>주문 관리</a>
        </li>
        
      </ul>
    </div>
  </div>
</body>
</html>
