<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">

  	<header class="admin-header">

  	<div class="admin-info">
  		<span>김민경</span>
  		<span>관리자님</span>
  		&nbsp;|&nbsp;
  		<span><img th:src="@{/images/outside.png}" class="admin-label" style="width:12px; height:12px; vertical-align:middle">로그아웃</span>
  	</div>
  	
  	<div class="category-menu">
  		<div class="category-main">
  		<span>메인메뉴</span>
  		</div>&gt;
  		<div class="category-sub">
  		<span>서브메뉴</span>
  		</div>
  		
  </div>
  </header>

</div>