<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.user.DAO.SellerDAO">
	<select id="selectSellerInfoByUserNum" parameterType="String" resultType="kr.co.sist.DTO.UserDTO">
		SELECT * FROM USERS WHERE USER_NUM = #{userNum}
	</select>
	<select id="selectTradeByUserNum" parameterType="String" resultType="kr.co.sist.DTO.ProductDTO">SELECT * FROM PRODUCT WHERE USER_NUM = #{userNum} AND HIDDEN_TYPE = 'N' ORDER BY INPUT_DATE DESC</select>
	<select id="selectImgByImgNum" parameterType="Integer" resultType="kr.co.sist.DTO.ImageDTO">SELECT * FROM IMAGE WHERE IMG_NUM = #{imgNum}</select>
</mapper>
