<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.user.DAO.PlaningDAO">
    
    <select id="selectPlaningList" resultType="kr.co.sist.DTO.CompanyWithProductDTO">
        SELECT * FROM company
    </select>
    
    <select id="selectProductsByComNum" resultType="kr.co.sist.DTO.ProductDTO">
	    SELECT * FROM PRODUCT
	    WHERE COM_NUM = #{comNum}
	    AND SELL_TYPE = 'Y'
	</select>
	
	
</mapper>